.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.img-parent{
  padding: 50px;
  display: flex;
  background: pink;
  max-width: 1400px;
  width: 100%;
  height: 100vh;
  gap: 30px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}