*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

html,body{
  height:100%;
  width:100%;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom left, #00ff9d, #065a84, #003943, #8338ec);
}